dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

# XMonad artifacts
history
result
xmonad.errors
xmonad.hi
.xmonad.hs.swp
xmonad.o
xmonad.state
xmonad-x86*
